<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title> {% block 'titulo' %} {% endblock %}</title>
        {% block 'head' %} {% endblock %}
    </head>
    <body>
        <ul class="nav navbar-dark">
            <li class="nav-item">
              <a class="nav-link active" >PYTHONANDO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sair' %}">Sair</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cadastro' %}">Cadastrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
          </ul>
    </body>
</html>
{% block 'body' %} {% endblock %}

