{% extends 'base.html' %}



{% block 'titulo' %}

    Cadastro

{% endblock %}

{% block 'body' %}
<div class = "container">

    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        Sua senha precisa ter entre 4 a 20 caracteres
    </div>
        
    {% endif %}

    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Email e nome não podem ser vazios
    </div>

    {% endif %}

    {% if status == '3' %}
    <div class="alert alert-danger" role="alert">
    Email já existe
    </div>

    {% endif %}

    {% if status == '4' %}
    <div class="alert alert-success" role="alert">
    Cadastro realizado com sucesso
    </div>

    {% endif %}
    <div class ="row">
        <div class="col-md-3">

        </div>
        <div class = "col-md">
            <br>
            <h1 class="text-center"> Cadastre-se</h1>
            <hr>
            <form method="POST" action="{% url 'valida_cadastro' %}"> {% csrf_token %}
                <label>Digite seu nome:</label>
                <input class="form-control" type="text" placeholder="Nome..." name="nome">
                <br>
                <label>Digite seu Email:</label>
                <input class="form-control" type="text" placeholder="Email..." name="email">
                <br>
                <label>Digite sua Senha:</label>
                <input class="form-control" type="password" placeholder="Senha..." name="senha">
                <br>
                <input class="btn btn-sucess btn-lg" type="submit">
                <a href="#" class="btn btn-info btn-lg">Login</a>
            </form>
        </div>
        <div class ="col-md-3">

        </div>

    </div>

</div>

<div class="notika-status-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
              <div class="website-traffic-ctn">
                <h2><span class="counter">{{participantes}}</span></h2>
                <p>Total de participantes</p>
              </div>
              <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
              <div class="website-traffic-ctn">
                <h2><span class="counter">{{participacoess}}</span></h2>
                <p>Total de certificados</p>
              </div>
              <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div
              class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30"
            >
              <div class="website-traffic-ctn">
                <h2><span class="counter">{{certificados}}</span></h2>
                <p>Cursos cadastrados</p>
              </div>
              <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
              <div class="website-traffic-ctn">
                <h2><span class="counter">{{instituicoes}}</span></h2>
                <p>Total de instituições</p>
              </div>
              <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
            </div>
          </div>
       </div>
       <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 content">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
              <div class="website-traffic-ctn">
                <div id="piechart"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 content">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
              <div class="website-traffic-ctn">
                <div id="piecharte"></div>
              </div>
            </div>
          </div> 
       </div>
    </div>
</div>

{% endblock %}
