{% extends 'base.html' %}


{% block 'titulo' %}

    Cadastro

{% endblock %}

{% block 'body' %}
<div class = "container">

    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        Sua senha precisa ter entre 4 a 20 caracteres
    </div>
        
    {% endif %}

    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Email e nome não podem ser vazios
    </div>

    {% endif %}

    {% if status == '3' %}
    <div class="alert alert-danger" role="alert">
    Email já existe
    </div>

    {% endif %}

    {% if status == '4' %}
    <div class="alert alert-success" role="alert">
    Cadastro realizado com sucesso
    </div>

    {% endif %}
    <div class ="row">
        <div class="col-md-3">

        </div>
        <div class = "col-md">
            <br>
            <h1 class="text-center"> Cadastre-se</h1>
            <hr>
            <form method="POST" action="{% url 'valida_cadastro' %}"> {% csrf_token %}
                <label>Digite aaaaaaaaaaaaaseu nome:</label>
                <input class="form-control" type="text" placeholder="Nome..." name="nome">
                <br>
                <label>Digite seu Email:</label>
                <input class="form-control" type="text" placeholder="Email..." name="email">
                <br>
                <label>Digite sua Senha:</label>
                <input class="form-control" type="password" placeholder="Senha..." name="senha">
                <br>
                <input class="btn btn-sucess btn-lg" type="submit">
                <a href="#" class="btn btn-info btn-lg">Login</a>
            </form>
        </div>
        <div class ="col-md-3">

        </div>

    </div>

</div>
{% endblock %}
